body{
  font: 14px/1.5 DomaineText, Georgia, Serif;
  color:#3E2723;
  padding:0;
  margin:0;
  background-color:#F5F5F5;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

/* Header */
header {
    background:#ffffff;
    color:#ff1c3d;
    min-height:15px;
    border-bottom:1px solid #ff1c3d;
    font-size: 10px;
}

#navbar li{
  display:inline;
  padding:0 20px 0 20px;
}

#navbar a{
  color:#ff1c3d;
  text-decoration:none;
  font-size:16px;
}

#navbar a:hover{
  color:#ff4d02;
}

/* Content */

/* Footer */
